/*
!/.bashrc
!/.zshrc
!/*.env_settings
!/.tmux.conf
!/.screenrc
!/.git*
!/.tmuxinator/
!/.peco/
!/*.sh
!/.emacs
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/elisp/
!/.emacs.d/snippets/
!/.emacs.d/init.el
!/.emacs.d/package.el
!/.emacs.d/kkctc
!/.emacs.d/.platex2pdf